<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Surveys List</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>
    <hr>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Survey Title</th>
            <th scope="col">Survey Description</th>
            <th scope="col">Survey Creation Date</th>
            <th scope="col">Survey Expiration Date</th>
            <th scope="col">Survey Link</th>
            <th scope="col">Questions</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="survey : ${surveys}">
            <tr>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" th:text="${survey.title}"></li>
                    </ul>
                </td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" th:text="${survey.description}"></li>
                    </ul>
                </td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" th:text="${{survey.creationDate}}"></li>
                    </ul>
                </td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" th:text="${{survey.expirationDate}}"></li>
                    </ul>
                </td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" th:text="${survey.link}"></li>
                    </ul>
                </td>
                <td>
                    <th:block th:each="question : ${survey.questions}">
                        <ul class="list-group">
                            <li class="list-group-item" th:text="${question.description}"></li>
                        </ul>
                    </th:block>
                </td>
                <td class="align-middle">
                    <a th:href="@{|/surveys/update/${survey.id}|}" class="btn btn-primary">Edit</a>
                </td>
                <td class="align-middle">
                    <a th:href="@{|/surveys/delete/${survey.id}|}" onclick="return confirm ('Are you sure, you want to delete question?')" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>